<% include partial/header%>

<h1 style="margin-top:7%;">Add Item</h1>


<form method="post" action="/add" style="margin-left:40%;">
  <div class="form-group" style="width:40%;">
    <label for="exampleFormControlInput1">Name</label>
    <input type="text" class="form-control" name="name" id="exampleFormControlInput1" placeholder="Name" required>
    <label for="exampleFormControlInput1">Image url</label>
    <input type="text" class="form-control" name="pic" id="exampleFormControlInput1" placeholder="Image url" required>
  </div>
  <div class="form-group" style="width:40%;">
    <label for="exampleFormControlTextarea1">Example textarea</label>
    <textarea class="form-control" name="description" id="exampleFormControlTextarea1" rows="3" required></textarea>
  </div>
  <div class="form-group " style="width:40%;">
      <label for="inputZip">Price</label>
      <input type="text" class="form-control" name="price" id="inputZip" required>
      <label for="inputZip">Score</label>
      <input type="text" class="form-control" name="Score" id="inputZip" required>
    </div>
    <div class="form-group " style="width:40%;">
      <label for="inputZip">FB link</label>
      <input type="text" name="fblink" class="form-control" id="inputZip" required>
      
    </div>

  <button style="margin-left:15%;">Submit</button>
    
</form>

<% include partial/footer%>
<% include partial/loadeffect%>