<% include partial/header%>
<h1>This is Add CampGround</h1>
<a href="/camp">Back</a>
<form action="/addcamp" method="POST">
        <input type="text" name="campname" value="campname">
        <input type="text" name="camppic" value="camppic">
        <input type="submit">
    </form>


    

<% include partial/footer%>