<% include partial/header%>
    <div class="jumbotron text-center rounded-0">
            <h1 class="display-4 p-4"><i class="fas fa-camera-retro"></i>NG Phakin</h1>
            <p class="lead">Love is Eatting!! We collect the picture of all Food and Dessert we have eat.</p>
    </div>
    <a href="/">Back</a>
    <a href="/campform">Add Camp</a>
    <% for(var i =0;i < camplist.length ; i++){ %>
        <div>
            <h4 class="name"><%=camplist[i].name%></h4>
            <img src="<%= camplist[i].pic %>" style="width:100px;height:100pz;">
        </div>
        
    <%}%>




<% include partial/footer%>